default_mode "normal"

keybinds {
    normal {
        bind "Alt T" { NewTab; }
    }
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
    session-manager { path "session-manager"; }
}

// Choose what to do when zellij receives SIGTERM, SIGINT, SIGQUIT or SIGHUP
// eg. when terminal window with an active zellij session is closed
// Options:
//   - detach (Default)
//   - quit
//
// on_force_close "quit"

simplified_ui true
pane_frames false
default_layout "@layout@"

ui {
    pane_frames {
        hide_session_name true
    }
}

themes {
  tokyo-night-storm {
    fg 169 177 214
    bg 36 40 59
    black 56 62 90
    red 249 51 87
    green 158 206 106
    yellow 224 175 104
    blue 122 162 247
    magenta 187 154 247
    cyan 42 195 222
    white 192 202 245
    orange 255 158 100
  }
  github-dark {
    bg "#30363d";
    fg "#e6edf3";
    black "#484f58";
    red "#ff7b72";
    green "#3fb950";
    yellow  "#d29922";
    blue "#58a6ff";
    magenta "#bc8cff";
    cyan "#39c5cf";
    white "#b1bac4";
    orange "#ffdfb6";
  }
  github-dark-dimmed {
    bg "#22272e"
    fg "#adbac7"
    black "#545d68"
    red  "#f47067"
    green  "#57ab5a"
    yellow "#c69026"
    blue "#539bf5"
    magenta "#b083f0"
    cyan  "#39c5cf"
    white "#909dab"
    orange "#ffddb0"
  }
}
theme "github-dark"
// theme "github-dark-dimmed"
// theme "tokyo-night-storm"

copy_on_select false

env {
 TERM "alacritty"
}
